<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevour=""="{{devoured}}">
		{{#if sleep}}EAT DA BURGER{{else}}DON'T EAT THE BURGER{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>